#header {
	background-color:pink;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 41px 10px 27px;
}
#header div a.logo {
	float: left;
	margin: 0 0 0 29px;
	padding: 0;
	width: auto;
}
#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul {
	display: inline-block;
	float: right;
	list-style: none outside none;
	margin: 0 auto;
	padding: 50 25px 0px;
	text-align: center;
	width: 653px;
}
#header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 10;
	position: relative;
	width: auto;
}
#header div ul li a {
	color: #7a6666;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: auto;
	line-height: 15px;
	margin: auto;
	padding: auto;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #cb3362;
}
#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #c8c10d;
}
#header div ul li ul li a {
	color: #cb3362;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}
#header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 20;
	position: absolute;
	top: 24px;
	width: 106px;
	z-index: 90;
}
#header div ul li.menu:hover ul.primary, #header div ul li.menu ul#selected.primary {
	left: -30px;
}
#header div ul li.menu:hover ul.secondary, #header div ul li.menu ul#selected.secondary {
	left: -27px;
}
#header div ul li.menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}

*************Styles************************

#body {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body div.header {
	background-color:#7D2AE8;
	margin:11;
	max-width: none;
	overflow: hidden;
	padding: 0;
}

#body div.header div {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}
#body div.header div h1 {
	background-color:#7D2AE8;
	color: #FFFFFF;
	font-family: lato-regular-webfont;
	font-size: 30px;
	font-weight: normal;
	line-height: 10px;
	margin: 0;
	padding: 10 10 10px;
	text-align: center;
	text-transform: uppercase;
}
#body div.body {
	background-color: #ebebed;
	margin: 0;
	max-width: none;
	min-height: 249px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body div.body img {
	display: block;
	left: 50%;
	margin: 0 auto 0 -507px;
	padding: 0;
	position: absolute;
	width: 1014px;
}

#body div {
	margin: 0 auto;
	max-width: 960px;
	padding: 7px 0 57px;
}
#body div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 22px;
	width: 100%;
}
#body div ul li {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 220px;
}
#body div ul li h1 {
	color: #E32A62;
	font-family: magra-bold-webfont;
	font-size: 28px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
	padding: 87px 0 27px 30px;
	text-align: left;
	text-transform: capitalize;
}
}
#body div ul li p {
	color: #7A6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 0 30px;
	text-align: left;
	width: 190px;
}
#body div ul li p a {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div ul li img {
	display: block;
	margin: 0 auto 15px;
	padding: 10;
	width: auto;
}
#body div ul li h2 {
	color: #e32a62;
	font-family: lato-regular-webfont;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

#body div.subscription {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 98px 0 146px;
}

#body div.subscription {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 98px 0 146px;
}
#body div.subscription .featured {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 620px;
}
#body div.subscription .featured ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body div.subscription .featured {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 620px;
}
#body div.subscription .featured ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body div.subscription .featured {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 620px;
}
#body div.subscription .featured ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}


form {
    width: 300px;
    margin: auto;
}
/***************************footer style******************************/
#footer {
	background-color:pink;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 800px;
	overflow: hidden;
	padding: 91px 10px 67px;
}
.container{
	margin: 5;
	padding: 3;
	position:relative;
	text-align: left;
        
}
div.heading{
	color:white;
	position:absolute;
 	top:65%;
        left:23%;
 	right:20%;
        font-size:30px;
	font-family: lato-regular-webfont;
        text-transform: uppercase;
	border: 5px solid white;
        padding-left: 26px;
}

.text1{
	position:relative;
 	top:140;
        left:50%;
 	right:20%;
}
#girl{
	padding: 2px 20px 20px;
  	position:relative;
	top:70%;
	left:10%;
	bottom:70;
	width:30%;
	height:30%;
}
.container2{
margin: 0;
	padding: 40px 20px 40px;
	position:relative;
}
.button{
         padding: 2px 8px 40px;
}
div.bars{
	padding: 60px 20px 70px;
  	position:relative;
	top:50%;
	left:48%;
        bottom:60;
	width:20%;
	height:30%;
}
div.text2{
	position:relative;
 	top:50;
        left:45%;
 	right:20%;
}
div.text3{
	position:relative;
	font-size: 30px;
 	top:20%;
        bottom:80;
        left:15%;
 	right:20%;
}
div.occasssion{
	margin: 0 auto;
	max-width: 960px;
	padding: 7px 0 57px;
}
div.occassion ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 22px;
	width: 100%;
}
div.occassion ul li {
	float: left;
	margin: 0 10px;
	padding: 40;
	width: 220px;
}
#gn{
	padding: 80px 5px 80px;
  	position:relative;
	top:50%;
	left:4%;
	width:30%;
	height:30%;
}
#pc{
	padding: 80px 5px 80px;
  	position:relative;
	top:50%;
	left:5%;
	width:30%;
	height:30%;
}
#mv{
	padding: 80px 5px 80px;
  	position:relative;
	top:50%;
	left:6%;
	width:30%;
	height:30%;
}

div.text4{
	font-family: lato-regular-webfont;
	position:relative;
	font-size: 20px;
 	top:18%;
        bottom:70;
        left:12%;
 	right:20%;
}
div.text5{
	font-family: lato-regular-webfont;
	position:relative;
	font-size: 20px;
 	top:10%;
        bottom:90;
        left:47%;
 	right:20%;
}
div.text6{
	font-family: lato-regular-webfont;
	position:relative;
	font-size: 20px;
 	top:10%;
        bottom:120;
        left:77%;
 	right:20%;
}
